li:hover>*{
    visibility: visible;

}
.icon-hidden{
    visibility:hidden;
  
}
.fa-solid{
    color: rgba(255, 0, 0, 0.343);
}

ul {
-webkit-box-shadow: 9px 17px 55px -25px rgba(0,0,0,0.89);
-moz-box-shadow: 9px 17px 55px -25px rgba(0,0,0,0.89);
box-shadow: 9px 17px 55px -25px rgba(0,0,0,0.89);
}